<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Mapper接口-->
<mapper namespace="dao.UserMapper">
<!--id为对应的namespace中的方法名   resultType为返回值类型 parameterType为参数类型 -->
<!-- 查询全部用户-->
    <select id="getUserList" resultType="pojo.User">
        select * from student;
    </select>
<!--根据ID查询用户-->
    <select id="getUserById" parameterType="int" resultType="pojo.User">
        select * from student where id=#{id}
    </select>
<!--插入用户-->
    <insert id="addUser" parameterType="pojo.User">
        insert into student(id,name,gender,birthday) values(#{id},#{name},#{gender},#{birthday})
    </insert>
<!--删除用户-->
    <delete id="delUser" parameterType="String">
        delete from student where name=#{name}
    </delete>
<!--更新用户-->
    <update id="updUser" parameterType="pojo.User">
        update student set name=#{name},gender=#{gender},birthday=#{birthday} where id=#{id};
    </update>
<!--模糊查询-->
    <select id="getUserLike" resultType="pojo.User">
        select * from student where name like #{value}
    </select>
</mapper>