<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyx.dao.StudentMapper">
    <!--按照查询进行嵌套处理-->
    <!--思路：1。查询所有的学生信息
             2.根据学生的tid寻找对应的老师-->
    <select id="getStudent" resultMap="StudentTeacher">
SELECT s.id sid,s.name sname,s.gender sgender,s.birthday sbirthday,t.name tname FROM student s,teacher t WHERE s.tid=t.id
    </select>
    <resultMap id="StudentTeacher" type="com.yyx.pojo.Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <result property="gender" column="sgender"/>
        <result property="birthday" column="sbirthday"/>
        <association property="teacher" javaType="com.yyx.pojo.Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>
</mapper>